<!doctype html>
<html lang="{{ site.language }}">
<head>
{% include "partials/head.njk" %}
</head>
<body class="{{ bodyClass }}">
<a class="skip-link" href="#main">Skip to content</a>
{% include "partials/header.njk" %}
<main id="main" tabindex="-1">
{{ content | safe }}
</main>
{% include "partials/footer.njk" %}
</body>
</html>
