<aside class="author-box" aria-label="About the author" data-pagefind-ignore>
	<img class="author-box__photo" src="/assets/img/scott-portrait.png" alt="Portrait of {{ site.author.name }}" sizes="8rem" eleventy:widths="160,320">
	<div>
		<p class="author-box__label">About the writer</p>
		<p class="author-box__name"><a href="/about/" rel="author">{{ site.author.name }}</a></p>
		<p>{{ site.author.shortBio }}</p>
	</div>
</aside>
